/* Extra Small Devices (phones) */
@media (max-width: 575px) {
    * {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1em;
        color: white;
    }

    nav{
        display: none;
    }

    h1{
        text-align: center;
        margin: 0 0 15px;
    }
    h3{
        text-align: center;
        margin: 0;
    }

    .buttons{
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        background-color: rgba(128, 128, 128, 0.5);
    }
    a{
        color: #ffffff;
        text-decoration: none;
        margin: 0 25px;
    }
    p{
        margin: 0 0 15px;
    }

    #threejs{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .project-card{
        background-color: rgba(128, 128, 128, 0.5);
        margin: 15px 0;

    }
    .project-card-text{
        margin: 0 15px;
        display: inline-grid;

    }
    .project-card-text a {
        color: #ffffff;
        text-decoration: none;
        transition: .2s;
        margin: 0 15px 0 0;

    }

    img{
        width: 90%;
        margin: 5%;
    }

    .bio {
        background-color: rgba(128, 128, 128, 0.5);
        margin: 15px 0;
    }
    .contact{
        display: flex;
        justify-content: space-evenly;
        margin: 15px auto 0;

    }

    .skills{
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 15px;
    }
    .skill-icon{
        height: 35px;
        width: 35px;
    }
    .skill{
        display: flex;
    }
    .skillbar{
        display: flex;
    }
    .javabar{
        background-color: white;
        height: 5px;
        width: 35vw;
        margin: auto 0 auto 15px;
    }
    .javabar2{
        background-color: gray;
        height: 5px;
        width: 35vw;
        margin: auto;
    }
    .javascriptbar{
        background-color: white;
        height: 5px;
        width: 25vw;
        margin: auto 0 auto 15px;
    }
    .javascriptbar2{
        background-color: gray;
        height: 5px;
        width: 45vw;
        margin: auto;
    }
    .htmlbar{
        background-color: white;
        height: 5px;
        width: 20vw;
        margin: auto 0 auto 15px;
    }
    .htmlbar2{
        background-color: gray;
        height: 5px;
        width: 50vw;
        margin: auto;
    }
    .cssbar{
        background-color: white;
        height: 5px;
        width: 15vw;
        margin: auto 0 auto 15px;
    }
    .cssbar2{
        background-color: gray;
        height: 5px;
        width: 55vw;
        margin: auto;
    }
    .progress{
        width: 100%;
    }

    .projectgithub{
        display: inline-grid;
        justify-content: end;
    }
}

/* Small Devices (tablets) */
@media (min-width: 576px) and (max-width: 767px) {

    * {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1em;
        color: white;
    }

    nav{
        display: none;
    }

    h1{
        text-align: center;
        margin: 15px;
    }
    h3{
        text-align: center;
        margin: 15px;
    }

    .buttons{
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        background-color: rgba(128, 128, 128, 0.5);
    }
    a{
        color: #ffffff;
        text-decoration: none;
        margin: 0 25px;
    }
    p{
        margin: 0 0 15px;
    }

    #threejs{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .project-card{
        background-color: rgba(128, 128, 128, 0.5);
        margin: 15px 0;

    }
    .project-card-text{
        margin: 0 15px;
        display: inline-grid;

    }
    .project-card-text a {
        color: #ffffff;
        text-decoration: none;
        transition: .2s;
        margin: 0 15px 0 0;

    }

    img{
        width: 90%;
        margin: 5% 5% 0;
    }

    .bio {
        background-color: rgba(128, 128, 128, 0.5);
        margin: 15px 0;
    }
    .contact{
        display: flex;
        justify-content: space-evenly;
        margin: 15px auto 0;

    }

    .skills{
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 15px;
    }
    .skill-icon{
        height: 35px;
        width: 35px;
    }
    .skill{
        margin: 0 0 5px;
        display: flex;
    }
    .skillbar{
        display: flex;
    }
    .javabar{
        background-color: white;
        height: 5px;
        width: 35vw;
        margin: auto 0 auto 15px;
    }
    .javabar2{
        background-color: gray;
        height: 5px;
        width: 45vw;
        margin: auto;
    }
    .javascriptbar{
        background-color: white;
        height: 5px;
        width: 25vw;
        margin: auto 0 auto 15px;
    }
    .javascriptbar2{
        background-color: gray;
        height: 5px;
        width: 55vw;
        margin: auto;
    }
    .htmlbar{
        background-color: white;
        height: 5px;
        width: 20vw;
        margin: auto 0 auto 15px;
    }
    .htmlbar2{
        background-color: gray;
        height: 5px;
        width: 60vw;
        margin: auto;
    }
    .cssbar{
        background-color: white;
        height: 5px;
        width: 15vw;
        margin: auto 0 auto 15px;
    }
    .cssbar2{
        background-color: gray;
        height: 5px;
        width: 65vw;
        margin: auto;
    }
    .progress{
        background-color: white;
        width: 100%;
    }

    .projectgithub{
        display: inline-grid;
        justify-content: end;
    }

}

/* Medium Devices (laptops and small desktops) */
@media (min-width: 768px) and (max-width: 991px) {
    * {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1em;
        color: white;
    }

    nav{
        display: none;
    }

    h1{
        margin: 5px;
    }
    h3{
        margin: 5px;
    }

    .buttons{
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        background-color: rgba(128, 128, 128, 0.5);
    }
    a{
        color: #ffffff;
        text-decoration: none;
        margin: auto;
    }
    p{
        margin: 0 0 15px;
    }

    #threejs{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .project-card{
        background-color: rgba(128, 128, 128, 0.5);
        margin: 15px 0;

    }
    .project-card-text{
        margin: 0 15px;
        display: inline-grid;

    }
    .project-card-text a {
        color: #ffffff;
        text-decoration: none;
        transition: .2s;
        margin: 0 15px 0 0;

    }

    img{
        width: 100%;
        margin: 1%;
    }

    .bio {
        background-color: rgba(128, 128, 128, 0.5);
        margin: 15px 0;
        display: flex;
    }
    .contact{
        display: grid;
        justify-content: space-evenly;
        margin: 10px;
    }

    .skills{
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 15px;
    }
    .skill-icon{
        height: 35px;
        width: 35px;
    }
    .skill{
        margin: 0 0 5px;
        display: flex;
    }
    .skillbar{
        display: flex;
    }
    .javabar{
        background-color: white;
        height: 5px;
        width: 35vw;
        margin: auto 0 auto 15px;
    }
    .javabar2{
        background-color: gray;
        height: 5px;
        width: 35vw;
        margin: auto;
    }
    .javascriptbar{
        background-color: white;
        height: 5px;
        width: 25vw;
        margin: auto 0 auto 15px;
    }
    .javascriptbar2{
        background-color: gray;
        height: 5px;
        width: 45vw;
        margin: auto;
    }
    .htmlbar{
        background-color: white;
        height: 5px;
        width: 20vw;
        margin: auto 0 auto 15px;
    }
    .htmlbar2{
        background-color: gray;
        height: 5px;
        width: 50vw;
        margin: auto;
    }
    .cssbar{
        background-color: white;
        height: 5px;
        width: 15vw;
        margin: auto 0 auto 15px;
    }
    .cssbar2{
        background-color: gray;
        height: 5px;
        width: 55vw;
        margin: auto;
    }
    .progress{
        background-color: white;
        width: 100%;
    }

    .projectgithub{
        display: inline-grid;
        justify-content: end;
    }
}

/* Large Devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    * {
        font-family: 'Comfortaa', sans-serif;
        color: white;
    }

    .Navigation, .Biography {
        position: relative;
        z-index: 1;
    }
    nav{
        background-color: rgba(128, 128, 128, 0.5);
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    a{
        color: #ffffff;
        text-decoration: none;
        margin: 0 25px;
        transition: .2s;
    }
    a:hover{
        color: #227aff;
        text-decoration: none;
    }

    #threejs{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .project-card{
        background-color: rgba(128, 128, 128, 0.5);
        margin: 15px 0;
        display: flex;

    }
    .project-card-text{
        margin:15px;
        display: inline-grid;

    }
    .project-card-text a {
        color: #ffffff;
        text-decoration: none;
        transition: .2s;
        margin: 0 15px 0 0;

    }

    .project-card-text a:hover {
        color: #227aff;
        text-decoration: none;

    }
    img{
        height: 250px;
        margin: 15px;
    }
    p{
        line-height: 30px;
    }

    .bio {
        background-color: rgba(128, 128, 128, 0.5);
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
    }
    .contact{
        margin: 15px;
    }
}

/* Extra Large Devices (large desktops) */
@media (min-width: 1200px) {
    * {
        font-family: 'Comfortaa', sans-serif;
        color: white;
    }

    .Navigation, .Biography {
        position: relative;
        z-index: 1;
    }
    nav{
        background-color: rgba(128, 128, 128, 0.5);
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    a{
        color: #ffffff;
        text-decoration: none;
        margin: 0 25px;
        transition: .2s;
    }
    a:hover{
        color: #227aff;
        text-decoration: none;
    }

    #threejs{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .project-card{
        background-color: rgba(128, 128, 128, 0.5);
        margin: 15px 0;
        display: flex;

    }
    .project-card-text{
        margin:15px;
        display: inline-grid;

    }
    .project-card-text a {
        color: #ffffff;
        text-decoration: none;
        transition: .2s;
        margin: 0 15px 0 0;

    }

    .project-card-text a:hover {
        color: #227aff;
        text-decoration: none;

    }
    img{
        height: 250px;
        margin: 15px;
    }
    p{
        line-height: 30px;
    }

    .bio {
        background-color: rgba(128, 128, 128, 0.5);
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
    }
}



/** {*/
/*    font-family: 'Comfortaa', sans-serif;*/
/*    color: white;*/
/*}*/

/*.Navigation, .Biography {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/
/*nav{*/
/*    background-color: rgba(128, 128, 128, 0.5);*/
/*    padding: 10px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
/*a{*/
/*    color: #ffffff;*/
/*    text-decoration: none;*/
/*    margin: 0 25px;*/
/*    transition: .2s;*/
/*}*/
/*a:hover{*/
/*    color: #227aff;*/
/*    text-decoration: none;*/
/*}*/

/*#threejs{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*}*/
/*.project-card{*/
/*    background-color: rgba(128, 128, 128, 0.5);*/
/*    margin: 15px 0;*/
/*    display: flex;*/

/*}*/
/*.project-card-text{*/
/*    margin:15px;*/
/*    display: inline-grid;*/

/*}*/
/*.project-card-text a {*/
/*    color: #ffffff;*/
/*    text-decoration: none;*/
/*    transition: .2s;*/
/*    margin: 0 15px 0 0;*/

/*}*/

/*.project-card-text a:hover {*/
/*    color: #227aff;*/
/*    text-decoration: none;*/

/*}*/
/*img{*/
/*    height: 250px;*/
/*    margin: 15px;*/
/*}*/
/*p{*/
/*    line-height: 30px;*/
/*}*/

/*.bio {*/
/*    background-color: rgba(128, 128, 128, 0.5);*/
/*    display: flex;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    padding: 20px;*/
/*}*/