* {
    font-family: 'Comfortaa', sans-serif;
    color: white;
}

.Navigation, .Biography {
    position: relative;
    z-index: 1;
}
nav{
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 25px;
    transition: .2s;
}
a:hover{
    color: #227aff;
    text-decoration: none;
}

#threejs{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.project-card{
    background-color: rgba(128, 128, 128, 0.5);
    margin: 15px 0;
    display: flex;

}
.project-card-text{
    margin:15px;
    display: inline-grid;

}
.project-card-text a {
    color: #ffffff;
    text-decoration: none;
    transition: .2s;
    margin: 0 15px 0 0;

}

.project-card-text a:hover {
    color: #227aff;
    text-decoration: none;

}
img{
    height: 250px;
    margin: 15px;
}
p{
    line-height: 30px;
}

.bio {
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}